@page
@model PaginaAntro.Pages.Admin.Productos.AgregarModel
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Nuevo Producto</h2> 

        <!-- VALIDACION Y MENSAJES DE ERROR  -->
        @if (Model.errorMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.errorMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        } 
        

        <form method="post" enctype="multipart/form-data">
            <!-- Campo Nombre del Producto -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductoDTO.NombreProducto">
                    <span asp-validation-for="ProductoDTO.NombreProducto" class="text-danger"></span>
                </div>
            </div>

            <!-- Campo de la descripcion del prodcucto-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Descripcion</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="ProductoDTO.Descripcion"></textarea>
                    <span asp-validation-for="ProductoDTO.Descripcion" class="text-danger"></span>
                </div>
            </div>

            <!-- Campo Precio del Producto -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Precio</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductoDTO.Precio">
                    <span asp-validation-for="ProductoDTO.Precio" class="text-danger"></span>
                </div>
            </div>

            <!-- Campo Cantidad del Producto -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Cantidad</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductoDTO.Cantidad">
                    <span asp-validation-for="ProductoDTO.Cantidad" class="text-danger"></span>
                </div>
            </div>

            <!-- Campo Imagen del Producto -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductoDTO.Imagen">
                    <span asp-validation-for="ProductoDTO.Imagen" class="text-danger"></span>
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="row mb-3">
                <!-- Botón Agregar -->
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
                <!-- Botón Cancelar -->
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Admin/Products/Index" role="button">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>
